@using Course.Models.Inventory

@model InventoryCommonView

<tr>
    <td>
        <img src="@Model.ImageUrl" alt="@Model.Title" class="img-fluid rounded" style="max-height: 80px;">
    </td>
    <td class="text-truncate" style="max-width: 200px;">@Model.Title</td>
    <td>@Model.CreatorName</td>
</tr>
