<nav class="navbar navbar-dark bg-dark sticky-top shadow-sm">
    <div class="container d-flex gap-2">
        <button type="submit" formaction="@Url.Action("Delete", "Inventory")" formmethod="post" class="btn btn-outline-light">
            <i class="fa-solid fa-trash"></i> Delete selected
        </button>
        <div class="d-flex gap-2 ms-auto align-items-center">
            <a href="@Url.Action("Create", "Inventory")" class="btn btn-outline-light">
                <i class="fa-solid fa-square-plus"></i> Create
            </a>
        </div>
    </div>
</nav>